@model IEnumerable<DuAn.Models.Bill>

@{
    ViewData["Title"] = "ShowAllBill";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


<section class="content" >

    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Hóa Đơn</h3>

        </div>
        <div class="card-body"> 
<table class="table">
    <thead>
        <tr>
           @* <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.CreateDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sdt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diachi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
          @*  <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>
            <td>
                        @{
                        DuAn.Models.ShopDbContext db = new DuAn.Models.ShopDbContext();
                        dynamic us = db.Users.Find(item.UserId);


                        if(us != null)
                        {
                            <spam>@us.Username</spam>
                        }
                    }
              @*  @Html.DisplayFor(modelItem => item.UserId)*@
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sdt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Diachi)
            </td>
            <td>
                  @if (item.Status == 0)
                  {
                       <span>Chờ Thanh toán</span>

                  }else if (item.Status == 1)
                  {
                       <span>Đã Thanh Toán</span>
                  }
                  else
                  {
                       <span>Đã Hủy</span>
                  }
                @*@Html.DisplayFor(modelItem => item.Status)*@
            </td>
            <td>
              <a  class="btn btn-warning" href="@Url.Action("ShowAllBillDetails","BillAdmin",new{idhd=item.Id})">HD CT</a>
            </td>
        </tr>
}
    </tbody>
</table>
        </div>


        <div class="card-footer"> 

        </div>

    </div>

</section>

